.footer-card{
    height: 35px;
    color: #614EA6;
}

.btn-detalhes{
    background-color: #614EA6;
    color: white;
    transition: .3s ease-in;
}

.btn-detalhes:hover{
    background-color: #614EA6;
    color: red;
}

.card-text{
    max-height: 100px;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.img-card{
    max-height: 200px;
    max-width: 100%;
}